<div class="wrapper">

  <div class="limit-width">
    <h2>¿Tienes cuenta de Fornite?</h2>

    <form [formGroup]="form">
      <div>
        <input formControlName="nickname" placeholder="username" type="text">
      </div>
      <div>
        <button [disabled]="!form.valid">Continuar</button>

        <div class="wrapper-loading" *ngIf="form.pending">
          <div class="text">Buscando....</div>
          <img class="loading-fornite"
               src="https://media1.giphy.com/media/1kTWV9RGnnUPOwPQY3/giphy.gif?cid=790b761196f56b3f967574b25dd78a1dda1bece710f16740&rid=giphy.gif&ct=g"
               alt="">
        </div>
      </div>
    </form>

  </div>

</div>
